.formContainer {
  font-family: "Poppins", sans-serif;
  background-color: #e84b01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* margin-top: 2rem; */
  color: black;
  border-radius: 5px;
  padding: 10px;
  /* height: 100vh; */
  /* overflow-y: scroll; */
}

.fieldsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.fields {
  width: 15rem;
  margin: 0.2rem 1.5rem;
}

.label {
  font-family: "Poppins", sans-serif;
}

.inputField {
  width: 100%;
  border-radius: 3px;
  height: 2.3rem;
  padding: 0 10px;
}

.button {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  background-color: white;
}

.upload {
  width: 90%;
  margin: 1.2rem 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .fields {
    width: 7rem;
    margin: 0 1rem;
  }
  /* .inputField {
    height: 2.1rem;
  } */
  .upload {
    margin: 1rem;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .fields {
    width: 4rem;
    margin: 1.2rem;
  }
  .label {
    font-size: 0.8rem;
  }
}
