.formContainer {
  font-family: "Poppins", sans-serif;
  background-color: #e84b01;
  /* width: 60%; */
  color: black;
  border-radius: 5px;
  padding: 10px;
  max-height: 80vh;
  max-width: 60vw;
  overflow: auto;
  /* margin: 0 1rem; */
}

.headingContainer {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldsContainer {
  display: flex;
  flex-wrap: wrap;
}

.fields {
  margin: 0.5rem 0.8rem;
  /* border: 2px solid black; */
}

.label {
  font-size: 1.2rem;
}

.inputField {
  font-weight: bold;
  outline: none;
  padding: 15px 20px;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 20px;
  background-color: white;
  margin: 1.5rem;
  margin-left: 1rem;
}

.button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .fields {
    margin: 0.2rem 0.5rem;
  }

  .inputField {
    padding: 8px 15px;
  }

  .label {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .headingContainer {
    margin: 0;
    font-size: 0.7rem;
  }

  .fields {
    margin: 0.1rem;
    overflow: hidden;
  }
}
