.exploreContainer {
  /* background-color: rgba(16, 16, 16, 0.975); */
  margin: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
}

.exploreLeft {
  /* border: 2px solid red; */
  width: 45%;
}

.exploreRight {
  /* border: 2px solid green; */
  height: 500px;
  width: 50%;
  overflow: hidden;
}

.exploreHeading {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 4rem;
  /* border: 2px solid red; */
  width: 50%;
  margin-left: 3rem;
}

.exploreSubtitle {
  color: black;
  font-size: 1.1rem;
  font-family: "Inter";
  line-height: 2rem;
  margin-left: 3rem;
  /* border: 2px solid green; */
}

.exploreContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 50%;
  margin: auto;
  text-align: center;
  /* background-color: red; */
  margin-top: 3rem;
  color: black;
}

.exploreContentHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
}

.exploreContentSubTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 0 25px;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .exploreContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
  }
  .exploreHeading {
    font-size: 2.5rem;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0;
  }
  .exploreSubtitle {
    width: 100%;
    margin: 0;
    font-size: 0.8rem;
    margin: 1rem 0;
  }

  .exploreRight {
    width: 30rem;
    height: 300px;
  }
}

@media screen and (max-width: 528px) {
  .exploreContainer {
    margin-top: 2rem;
    /* border: 2px solid red; */
  }
  .exploreRight {
    width: 20rem;
    height: 250px;
  }
  .exploreSubtitle {
    font-size: 0.6rem;
    line-height: 1rem;
  }

  .exploreHeading {
    font-size: 1.8rem;
  }

  .exploreContent {
    width: 100%;
  }

  .exploreContentSubTitle {
    font-size: 0.6rem;
    line-height: 1rem;
  }
}
