.navbarContainer {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  /* color: black;*/
  background-color: rgb(35, 35, 35, 0.463);
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
  min-width: 34%;
  margin: 0 1.8rem;
}

.link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
