.leftText {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  width: 40%;
  color: #e84b01;
  /* border: 2px solid red; */
}

.rightText {
  width: 40%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  line-height: 2;
  color: black;
  /* border: 2px solid green; */
}
