@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500;700&family=Poppins:wght@500&family=Teko:wght@600&display=swap");

.trackSection {
  /* border: 2px solid red; */
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: rgba(251, 173, 173, 0.216); */
  height: fit-content;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.greyBg {
  position: absolute;
  background-color: rgba(217, 217, 217, 0.44);
  z-index: -1;
  width: 2.1rem;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-8%);
  border-radius: 1.5rem;
  padding: 2px;
}

.buttonMed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  width: 6rem;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  /* text-transform: uppercase; */
  font-weight: 400;
  font-size: 0.9rem;
  background: #ff003d;
  color: white;
  border: none;
}

.buttonMed:hover {
  cursor: pointer;
}
