.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  min-height: 100vh;
  height: auto;
  width: 100vw;
}

.imageContainer {
  margin-top: 2rem;
  width: 50%;
  /* border: 2px solid red; */
  min-width: 30rem;
}

.textContent {
  width: 40%;
  /* border: 2px solid green; */
  margin: 0 4rem;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: #e84b01;
  text-transform: uppercase;
}

.subHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-right: 1rem;
  font-size: 0.8rem;
  line-height: 2;
  text-transform: uppercase;
  color: black;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
  }

  .imageContainer {
    min-width: 20rem;
  }

  .textContent {
    width: 100%;
  }
}
